@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    height: 100%;
    width: 100%;
    background-color: blue;
}
.image img{
    width: 100%;
    height: 100%;
    position: relative;
}
.nav{
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.logo{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 25px;
}
.link a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}
.link a:hover{
    border: 2px solid black;
    border-radius: 10%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(97,7,25);
    font-size: 50px;
    margin: 20px 0;
}
.content .QuickLink{
display: flex;
justify-content: center;
flex-wrap: wrap;
max-width: 80%;
}
.content .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: chocolate;
    padding: 5px 30px ;
    color: #fff;
    margin: 3px ;
}
.content .box2{
    background-color: rgb(200, 37, 4);
}
.content .box3{
    background-color: rgb(5, 5, 142);
}
.content .box4{
    background-color: rgb(110, 129, 2);
}
.content .box5{
    background-color: rgb(5, 5, 142);
}
.content .box6{
    background-color: rgb(0, 96, 18);
}
.content .box7{
    background-color: rgb(199, 1, 133);
}
.content .box8{
    background-color: rgb(2, 105, 3);
}
.content .box h3{
    font-family: sans-serif;
    font-size: 25px;
    margin: 0;
}
.content .box a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.content .box a:hover{
    color: blue;
    transition: all .5s ease-in-out;
}
